{% if page.title == "/dev/null"%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
<!--site.external-image-->
    <header class="header-home {% if site.animation %}animated{% endif %}">
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" style="width:100px;height:100px" src="{{ site.picture }}" />
                <!--<img alt="{{ site.name }}" style="width:80%;height:auto" src="{{ site.url }}/banner-blog.png" />-->
            </span>

        <h1 class="title"><span id="terminal">{{ site.itname }}</span></h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
    {% include nav.html %}
{% endif %}

